In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv("observations_train.csv")
test_df = pd.read_csv("observations_test.csv")

In [5]:
train_df['date']=pd.to_datetime(train_df["date"])
test_df['date']=pd.to_datetime(test_df["date"])

         series_id       date  value
0           AAA10Y 2000-01-03   1.17
1           AAA10Y 2000-01-04   1.20
2           AAA10Y 2000-01-05   1.16
3           AAA10Y 2000-01-06   1.15
4           AAA10Y 2000-01-07   1.17
5           AAA10Y 2000-01-10   1.15
6           AAA10Y 2000-01-11   1.14
7           AAA10Y 2000-01-12   1.13
8           AAA10Y 2000-01-13   1.17
9           AAA10Y 2000-01-14   1.15
10          AAA10Y 2000-01-17    NaN
11          AAA10Y 2000-01-18   1.15
12          AAA10Y 2000-01-19   1.14
13          AAA10Y 2000-01-20   1.10
14          AAA10Y 2000-01-21   1.07
15          AAA10Y 2000-01-24   1.11
16          AAA10Y 2000-01-25   1.07
17          AAA10Y 2000-01-26   1.04
18          AAA10Y 2000-01-27   0.99
19          AAA10Y 2000-01-28   1.03
20          AAA10Y 2000-01-31   1.10
21          AAA10Y 2000-02-01   1.07
22          AAA10Y 2000-02-02   1.05
23          AAA10Y 2000-02-03   1.07
24          AAA10Y 2000-02-04   1.03
25          AAA10Y 2000-02-07   1.06
26          AAA10Y 2000-02-08   1.00
27          AAA10Y 2000-02-09   1.09
28          AAA10Y 2000-02-10   1.10
29          AAA10Y 2000-02-11   1.11
...            ...        ...    ...
103274  WLEMUINDXD 2017-12-02  10.26
103275  WLEMUINDXD 2017-12-03   8.51
103276  WLEMUINDXD 2017-12-04  20.41
103277  WLEMUINDXD 2017-12-05  68.33
103278  WLEMUINDXD 2017-12-06   5.84
103279  WLEMUINDXD 2017-12-07  16.87
103280  WLEMUINDXD 2017-12-08   6.67
103281  WLEMUINDXD 2017-12-09  11.00
103282  WLEMUINDXD 2017-12-10   9.57
103283  WLEMUINDXD 2017-12-11  10.69
103284  WLEMUINDXD 2017-12-12   7.93
103285  WLEMUINDXD 2017-12-13  17.07
103286  WLEMUINDXD 2017-12-14  22.81
103287  WLEMUINDXD 2017-12-15  82.57
103288  WLEMUINDXD 2017-12-16  87.35
103289  WLEMUINDXD 2017-12-17  76.14
103290  WLEMUINDXD 2017-12-18  41.47
103291  WLEMUINDXD 2017-12-19   8.01
103292  WLEMUINDXD 2017-12-20   5.56
103293  WLEMUINDXD 2017-12-21  39.72
103294  WLEMUINDXD 2017-12-22   7.34
103295  WLEMUINDXD 2017-12-23  12.13
103296  WLEMUINDXD 2017-12-24  54.87
103297  WLEMUINDXD 2017-12-25  20.56
103298  WLEMUINDXD 2017-12-26  41.35
103299  WLEMUINDXD 2017-12-27  13.95
103300  WLEMUINDXD 2017-12-28  12.77
103301  WLEMUINDXD 2017-12-29  23.07
103302  WLEMUINDXD 2017-12-30  47.60
103303  WLEMUINDXD 2017-12-31  89.84

[103304 rows x 3 columns]

In [6]:
df = pd.DataFrame()
for col in np.unique(train_df['series_id']):
    temp = train_df[train_df['series_id']==col].set_index('date')
    idx = pd.date_range(min(np.unique(temp.index)), max(np.unique(temp.index)))
    temp.index = pd.DatetimeIndex(temp.index)
    temp = temp.reindex(idx, fill_value=None)
    temp['series_id']=col
    temp['value'] = temp['value'].interpolate(method='time')
    df = df.append(temp)
df

             series_id      value
2000-01-03      AAA10Y   1.170000
2000-01-04      AAA10Y   1.200000
2000-01-05      AAA10Y   1.160000
2000-01-06      AAA10Y   1.150000
2000-01-07      AAA10Y   1.170000
2000-01-08      AAA10Y   1.163333
2000-01-09      AAA10Y   1.156667
2000-01-10      AAA10Y   1.150000
2000-01-11      AAA10Y   1.140000
2000-01-12      AAA10Y   1.130000
2000-01-13      AAA10Y   1.170000
2000-01-14      AAA10Y   1.150000
2000-01-15      AAA10Y   1.150000
2000-01-16      AAA10Y   1.150000
2000-01-17      AAA10Y   1.150000
2000-01-18      AAA10Y   1.150000
2000-01-19      AAA10Y   1.140000
2000-01-20      AAA10Y   1.100000
2000-01-21      AAA10Y   1.070000
2000-01-22      AAA10Y   1.083333
2000-01-23      AAA10Y   1.096667
2000-01-24      AAA10Y   1.110000
2000-01-25      AAA10Y   1.070000
2000-01-26      AAA10Y   1.040000
2000-01-27      AAA10Y   0.990000
2000-01-28      AAA10Y   1.030000
2000-01-29      AAA10Y   1.053333
2000-01-30      AAA10Y   1.076667
2000-01-31      AAA10Y   1.100000
2000-02-01      AAA10Y   1.070000
...                ...        ...
2017-12-02  WLEMUINDXD  10.260000
2017-12-03  WLEMUINDXD   8.510000
2017-12-04  WLEMUINDXD  20.410000
2017-12-05  WLEMUINDXD  68.330000
2017-12-06  WLEMUINDXD   5.840000
2017-12-07  WLEMUINDXD  16.870000
2017-12-08  WLEMUINDXD   6.670000
2017-12-09  WLEMUINDXD  11.000000
2017-12-10  WLEMUINDXD   9.570000
2017-12-11  WLEMUINDXD  10.690000
2017-12-12  WLEMUINDXD   7.930000
2017-12-13  WLEMUINDXD  17.070000
2017-12-14  WLEMUINDXD  22.810000
2017-12-15  WLEMUINDXD  82.570000
2017-12-16  WLEMUINDXD  87.350000
2017-12-17  WLEMUINDXD  76.140000
2017-12-18  WLEMUINDXD  41.470000
2017-12-19  WLEMUINDXD   8.010000
2017-12-20  WLEMUINDXD   5.560000
2017-12-21  WLEMUINDXD  39.720000
2017-12-22  WLEMUINDXD   7.340000
2017-12-23  WLEMUINDXD  12.130000
2017-12-24  WLEMUINDXD  54.870000
2017-12-25  WLEMUINDXD  20.560000
2017-12-26  WLEMUINDXD  41.350000
2017-12-27  WLEMUINDXD  13.950000
2017-12-28  WLEMUINDXD  12.770000
2017-12-29  WLEMUINDXD  23.070000
2017-12-30  WLEMUINDXD  47.600000
2017-12-31  WLEMUINDXD  89.840000

[367212 rows x 2 columns]