In [3]:
import pandas as pd
import numpy as np

In [9]:
train_df = pd.read_csv("observations_train.csv")
test_df = pd.read_csv("observations_test.csv")

In [10]:
train_df['date']=pd.to_datetime(train_df["date"])
test_df['date']=pd.to_datetime(test_df["date"])
test_df = test_df.drop(columns=['Unnamed: 0'])
test_df

        series_id       date   value
0          AAA10Y 2018-01-02    1.06
1          AAA10Y 2018-01-03    1.06
2          AAA10Y 2018-01-04    1.01
3          AAA10Y 2018-01-05    1.03
4          AAA10Y 2018-01-08    1.01
5          AAA10Y 2018-01-09    1.02
6          AAA10Y 2018-01-10    1.03
7          AAA10Y 2018-01-11    0.99
8          AAA10Y 2018-01-12    0.95
9          AAA10Y 2018-01-15     NaN
10         AAA10Y 2018-01-16    0.95
11         AAA10Y 2018-01-17    0.93
12         AAA10Y 2018-01-18    0.92
13         AAA10Y 2018-01-19    0.94
14         AAA10Y 2018-01-22    0.94
15         AAA10Y 2018-01-23    0.94
16         AAA10Y 2018-01-24    0.96
17         AAA10Y 2018-01-25    0.92
18         AAA10Y 2018-01-26    0.92
19         AAA10Y 2018-01-29    0.89
20         AAA10Y 2018-01-30    0.90
21         AAA10Y 2018-01-31    0.87
22         AAA10Y 2018-02-01    0.84
23         AAA10Y 2018-02-02    0.89
24         AAA10Y 2018-02-05    0.93
25         AAA10Y 2018-02-06    0.91
26         AAA10Y 2018-02-07    0.92
27         AAA10Y 2018-02-08    0.94
28         AAA10Y 2018-02-09    0.99
29         AAA10Y 2018-02-12    0.97
...           ...        ...     ...
23199  WLEMUINDXD 2020-05-16  291.43
23200  WLEMUINDXD 2020-05-17  322.95
23201  WLEMUINDXD 2020-05-18  268.63
23202  WLEMUINDXD 2020-05-19  251.63
23203  WLEMUINDXD 2020-05-20  301.92
23204  WLEMUINDXD 2020-05-21   34.41
23205  WLEMUINDXD 2020-05-22  150.78
23206  WLEMUINDXD 2020-05-23  163.72
23207  WLEMUINDXD 2020-05-24  283.61
23208  WLEMUINDXD 2020-05-25  211.32
23209  WLEMUINDXD 2020-05-26  120.82
23210  WLEMUINDXD 2020-05-27  270.46
23211  WLEMUINDXD 2020-05-28  129.01
23212  WLEMUINDXD 2020-05-29  102.78
23213  WLEMUINDXD 2020-05-30  366.14
23214  WLEMUINDXD 2020-05-31  603.77
23215  WLEMUINDXD 2020-06-01   34.49
23216  WLEMUINDXD 2020-06-02   59.48
23217  WLEMUINDXD 2020-06-03   90.85
23218  WLEMUINDXD 2020-06-04   21.68
23219  WLEMUINDXD 2020-06-05  219.97
23220  WLEMUINDXD 2020-06-06   89.98
23221  WLEMUINDXD 2020-06-07  259.76
23222  WLEMUINDXD 2020-06-08  224.81
23223  WLEMUINDXD 2020-06-09  184.83
23224  WLEMUINDXD 2020-06-10  103.19
23225  WLEMUINDXD 2020-06-11  299.56
23226  WLEMUINDXD 2020-06-12  254.72
23227  WLEMUINDXD 2020-06-13  169.16
23228  WLEMUINDXD 2020-06-14  144.50

[23229 rows x 3 columns]

Missing data in training set

In [12]:
df_train = pd.DataFrame()
for col in np.unique(train_df['series_id']):
    temp = train_df[train_df['series_id']==col].set_index('date')
    idx = pd.date_range(min(np.unique(temp.index)), max(np.unique(temp.index)))
    temp.index = pd.DatetimeIndex(temp.index)
    temp = temp.reindex(idx, fill_value=None)
    temp['series_id']=col
    temp['value'] = temp['value'].interpolate(method='time')
    df_train = df_train.append(temp)
df_train

             series_id      value
2000-01-03      AAA10Y   1.170000
2000-01-04      AAA10Y   1.200000
2000-01-05      AAA10Y   1.160000
2000-01-06      AAA10Y   1.150000
2000-01-07      AAA10Y   1.170000
2000-01-08      AAA10Y   1.163333
2000-01-09      AAA10Y   1.156667
2000-01-10      AAA10Y   1.150000
2000-01-11      AAA10Y   1.140000
2000-01-12      AAA10Y   1.130000
2000-01-13      AAA10Y   1.170000
2000-01-14      AAA10Y   1.150000
2000-01-15      AAA10Y   1.150000
2000-01-16      AAA10Y   1.150000
2000-01-17      AAA10Y   1.150000
2000-01-18      AAA10Y   1.150000
2000-01-19      AAA10Y   1.140000
2000-01-20      AAA10Y   1.100000
2000-01-21      AAA10Y   1.070000
2000-01-22      AAA10Y   1.083333
2000-01-23      AAA10Y   1.096667
2000-01-24      AAA10Y   1.110000
2000-01-25      AAA10Y   1.070000
2000-01-26      AAA10Y   1.040000
2000-01-27      AAA10Y   0.990000
2000-01-28      AAA10Y   1.030000
2000-01-29      AAA10Y   1.053333
2000-01-30      AAA10Y   1.076667
2000-01-31      AAA10Y   1.100000
2000-02-01      AAA10Y   1.070000
...                ...        ...
2017-12-02  WLEMUINDXD  10.260000
2017-12-03  WLEMUINDXD   8.510000
2017-12-04  WLEMUINDXD  20.410000
2017-12-05  WLEMUINDXD  68.330000
2017-12-06  WLEMUINDXD   5.840000
2017-12-07  WLEMUINDXD  16.870000
2017-12-08  WLEMUINDXD   6.670000
2017-12-09  WLEMUINDXD  11.000000
2017-12-10  WLEMUINDXD   9.570000
2017-12-11  WLEMUINDXD  10.690000
2017-12-12  WLEMUINDXD   7.930000
2017-12-13  WLEMUINDXD  17.070000
2017-12-14  WLEMUINDXD  22.810000
2017-12-15  WLEMUINDXD  82.570000
2017-12-16  WLEMUINDXD  87.350000
2017-12-17  WLEMUINDXD  76.140000
2017-12-18  WLEMUINDXD  41.470000
2017-12-19  WLEMUINDXD   8.010000
2017-12-20  WLEMUINDXD   5.560000
2017-12-21  WLEMUINDXD  39.720000
2017-12-22  WLEMUINDXD   7.340000
2017-12-23  WLEMUINDXD  12.130000
2017-12-24  WLEMUINDXD  54.870000
2017-12-25  WLEMUINDXD  20.560000
2017-12-26  WLEMUINDXD  41.350000
2017-12-27  WLEMUINDXD  13.950000
2017-12-28  WLEMUINDXD  12.770000
2017-12-29  WLEMUINDXD  23.070000
2017-12-30  WLEMUINDXD  47.600000
2017-12-31  WLEMUINDXD  89.840000

[367212 rows x 2 columns]

Missing data in test set

In [13]:
df_test = pd.DataFrame()
for col in np.unique(test_df['series_id']):
    temp = test_df[test_df['series_id']==col].set_index('date')
    idx = pd.date_range(min(np.unique(temp.index)), max(np.unique(temp.index)))
    temp.index = pd.DatetimeIndex(temp.index)
    temp = temp.reindex(idx, fill_value=None)
    temp['series_id']=col
    temp['value'] = temp['value'].interpolate(method='time')
    df_test = df_test.append(temp)
df_test

             series_id       value
2018-01-02      AAA10Y    1.060000
2018-01-03      AAA10Y    1.060000
2018-01-04      AAA10Y    1.010000
2018-01-05      AAA10Y    1.030000
2018-01-06      AAA10Y    1.023333
2018-01-07      AAA10Y    1.016667
2018-01-08      AAA10Y    1.010000
2018-01-09      AAA10Y    1.020000
2018-01-10      AAA10Y    1.030000
2018-01-11      AAA10Y    0.990000
2018-01-12      AAA10Y    0.950000
2018-01-13      AAA10Y    0.950000
2018-01-14      AAA10Y    0.950000
2018-01-15      AAA10Y    0.950000
2018-01-16      AAA10Y    0.950000
2018-01-17      AAA10Y    0.930000
2018-01-18      AAA10Y    0.920000
2018-01-19      AAA10Y    0.940000
2018-01-20      AAA10Y    0.940000
2018-01-21      AAA10Y    0.940000
2018-01-22      AAA10Y    0.940000
2018-01-23      AAA10Y    0.940000
2018-01-24      AAA10Y    0.960000
2018-01-25      AAA10Y    0.920000
2018-01-26      AAA10Y    0.920000
2018-01-27      AAA10Y    0.910000
2018-01-28      AAA10Y    0.900000
2018-01-29      AAA10Y    0.890000
2018-01-30      AAA10Y    0.900000
2018-01-31      AAA10Y    0.870000
...                ...         ...
2020-05-16  WLEMUINDXD  291.430000
2020-05-17  WLEMUINDXD  322.950000
2020-05-18  WLEMUINDXD  268.630000
2020-05-19  WLEMUINDXD  251.630000
2020-05-20  WLEMUINDXD  301.920000
2020-05-21  WLEMUINDXD   34.410000
2020-05-22  WLEMUINDXD  150.780000
2020-05-23  WLEMUINDXD  163.720000
2020-05-24  WLEMUINDXD  283.610000
2020-05-25  WLEMUINDXD  211.320000
2020-05-26  WLEMUINDXD  120.820000
2020-05-27  WLEMUINDXD  270.460000
2020-05-28  WLEMUINDXD  129.010000
2020-05-29  WLEMUINDXD  102.780000
2020-05-30  WLEMUINDXD  366.140000
2020-05-31  WLEMUINDXD  603.770000
2020-06-01  WLEMUINDXD   34.490000
2020-06-02  WLEMUINDXD   59.480000
2020-06-03  WLEMUINDXD   90.850000
2020-06-04  WLEMUINDXD   21.680000
2020-06-05  WLEMUINDXD  219.970000
2020-06-06  WLEMUINDXD   89.980000
2020-06-07  WLEMUINDXD  259.760000
2020-06-08  WLEMUINDXD  224.810000
2020-06-09  WLEMUINDXD  184.830000
2020-06-10  WLEMUINDXD  103.190000
2020-06-11  WLEMUINDXD  299.560000
2020-06-12  WLEMUINDXD  254.720000
2020-06-13  WLEMUINDXD  169.160000
2020-06-14  WLEMUINDXD  144.500000

[65149 rows x 2 columns]