In [599]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.compose import ColumnTransformer
from sklearn.decomposition import PCA
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import PolynomialFeatures
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.stattools import adfuller
import matplotlib.pyplot as plt
import datetime

In [621]:
train_df = pd.read_csv("observations_train.csv")
test_df = pd.read_csv("obs_test.csv")

In [622]:
train_df['date']=pd.to_datetime(train_df["date"])
test_df['date']=pd.to_datetime(test_df["date"])
test_df = test_df.drop(columns=['Unnamed: 0'])

In [625]:
len(set(train_df['series_id']))

68

Missing data in training set

In [603]:
df_train = pd.DataFrame()
for col in np.unique(train_df['series_id']):
    temp = train_df[train_df['series_id']==col].set_index('date')
    idx = pd.date_range(min(np.unique(temp.index)), max(np.unique(temp.index)))
    temp.index = pd.DatetimeIndex(temp.index)
    temp = temp.reindex(idx, fill_value=None)
    temp['series_id']=col
    temp['value'] = temp['value'].interpolate(method='time')
    df_train = df_train.append(temp)
df_train

             series_id      value
2000-01-03      AAA10Y   1.170000
2000-01-04      AAA10Y   1.200000
2000-01-05      AAA10Y   1.160000
2000-01-06      AAA10Y   1.150000
2000-01-07      AAA10Y   1.170000
2000-01-08      AAA10Y   1.163333
2000-01-09      AAA10Y   1.156667
2000-01-10      AAA10Y   1.150000
2000-01-11      AAA10Y   1.140000
2000-01-12      AAA10Y   1.130000
2000-01-13      AAA10Y   1.170000
2000-01-14      AAA10Y   1.150000
2000-01-15      AAA10Y   1.150000
2000-01-16      AAA10Y   1.150000
2000-01-17      AAA10Y   1.150000
2000-01-18      AAA10Y   1.150000
2000-01-19      AAA10Y   1.140000
2000-01-20      AAA10Y   1.100000
2000-01-21      AAA10Y   1.070000
2000-01-22      AAA10Y   1.083333
2000-01-23      AAA10Y   1.096667
2000-01-24      AAA10Y   1.110000
2000-01-25      AAA10Y   1.070000
2000-01-26      AAA10Y   1.040000
2000-01-27      AAA10Y   0.990000
2000-01-28      AAA10Y   1.030000
2000-01-29      AAA10Y   1.053333
2000-01-30      AAA10Y   1.076667
2000-01-31      AAA10Y   1.100000
2000-02-01      AAA10Y   1.070000
...                ...        ...
2017-12-02  WLEMUINDXD  10.260000
2017-12-03  WLEMUINDXD   8.510000
2017-12-04  WLEMUINDXD  20.410000
2017-12-05  WLEMUINDXD  68.330000
2017-12-06  WLEMUINDXD   5.840000
2017-12-07  WLEMUINDXD  16.870000
2017-12-08  WLEMUINDXD   6.670000
2017-12-09  WLEMUINDXD  11.000000
2017-12-10  WLEMUINDXD   9.570000
2017-12-11  WLEMUINDXD  10.690000
2017-12-12  WLEMUINDXD   7.930000
2017-12-13  WLEMUINDXD  17.070000
2017-12-14  WLEMUINDXD  22.810000
2017-12-15  WLEMUINDXD  82.570000
2017-12-16  WLEMUINDXD  87.350000
2017-12-17  WLEMUINDXD  76.140000
2017-12-18  WLEMUINDXD  41.470000
2017-12-19  WLEMUINDXD   8.010000
2017-12-20  WLEMUINDXD   5.560000
2017-12-21  WLEMUINDXD  39.720000
2017-12-22  WLEMUINDXD   7.340000
2017-12-23  WLEMUINDXD  12.130000
2017-12-24  WLEMUINDXD  54.870000
2017-12-25  WLEMUINDXD  20.560000
2017-12-26  WLEMUINDXD  41.350000
2017-12-27  WLEMUINDXD  13.950000
2017-12-28  WLEMUINDXD  12.770000
2017-12-29  WLEMUINDXD  23.070000
2017-12-30  WLEMUINDXD  47.600000
2017-12-31  WLEMUINDXD  89.840000

[367212 rows x 2 columns]

Missing data within the SP500 timeframe

In [604]:
df_train = pd.DataFrame()
for col in np.unique(train_df['series_id']):
    temp = train_df[train_df['series_id']==col].set_index('date')
    SP500 = train_df[train_df['series_id']=='SP500'].set_index('date')
    idx = pd.date_range(min(np.unique(SP500.index)), max(np.unique(SP500.index)))
    temp.index = pd.DatetimeIndex(temp.index)
    temp = temp.reindex(idx, fill_value=None)
    temp['series_id']=col
    temp['value'] = temp['value'].interpolate(method='time')
    df_train = df_train.append(temp)
df_train

             series_id  value
2011-02-14      AAA10Y   1.59
2011-02-15      AAA10Y   1.65
2011-02-16      AAA10Y   1.65
2011-02-17      AAA10Y   1.68
2011-02-18      AAA10Y   1.70
2011-02-19      AAA10Y   1.71
2011-02-20      AAA10Y   1.72
2011-02-21      AAA10Y   1.73
2011-02-22      AAA10Y   1.74
2011-02-23      AAA10Y   1.71
2011-02-24      AAA10Y   1.68
2011-02-25      AAA10Y   1.70
2011-02-26      AAA10Y   1.69
2011-02-27      AAA10Y   1.68
2011-02-28      AAA10Y   1.67
2011-03-01      AAA10Y   1.68
2011-03-02      AAA10Y   1.70
2011-03-03      AAA10Y   1.63
2011-03-04      AAA10Y   1.68
2011-03-05      AAA10Y   1.68
2011-03-06      AAA10Y   1.68
2011-03-07      AAA10Y   1.68
2011-03-08      AAA10Y   1.68
2011-03-09      AAA10Y   1.70
2011-03-10      AAA10Y   1.76
2011-03-11      AAA10Y   1.73
2011-03-12      AAA10Y   1.74
2011-03-13      AAA10Y   1.75
2011-03-14      AAA10Y   1.76
2011-03-15      AAA10Y   1.77
...                ...    ...
2017-11-30  WLEMUINDXD   5.55
2017-12-01  WLEMUINDXD  26.86
2017-12-02  WLEMUINDXD  10.26
2017-12-03  WLEMUINDXD   8.51
2017-12-04  WLEMUINDXD  20.41
2017-12-05  WLEMUINDXD  68.33
2017-12-06  WLEMUINDXD   5.84
2017-12-07  WLEMUINDXD  16.87
2017-12-08  WLEMUINDXD   6.67
2017-12-09  WLEMUINDXD  11.00
2017-12-10  WLEMUINDXD   9.57
2017-12-11  WLEMUINDXD  10.69
2017-12-12  WLEMUINDXD   7.93
2017-12-13  WLEMUINDXD  17.07
2017-12-14  WLEMUINDXD  22.81
2017-12-15  WLEMUINDXD  82.57
2017-12-16  WLEMUINDXD  87.35
2017-12-17  WLEMUINDXD  76.14
2017-12-18  WLEMUINDXD  41.47
2017-12-19  WLEMUINDXD   8.01
2017-12-20  WLEMUINDXD   5.56
2017-12-21  WLEMUINDXD  39.72
2017-12-22  WLEMUINDXD   7.34
2017-12-23  WLEMUINDXD  12.13
2017-12-24  WLEMUINDXD  54.87
2017-12-25  WLEMUINDXD  20.56
2017-12-26  WLEMUINDXD  41.35
2017-12-27  WLEMUINDXD  13.95
2017-12-28  WLEMUINDXD  12.77
2017-12-29  WLEMUINDXD  23.07

[170748 rows x 2 columns]

In [605]:
from collections import Counter
total = np.unique(df_train['series_id'])
res = np.unique(df_train[df_train['value'].isnull()]['series_id'])
use_feat = list((Counter(total)-Counter(res)-Counter(['SP500'])).elements())

In [606]:
X_train = df_train[df_train['series_id'].isin(use_feat)]
X_train = X_train.pivot(columns='series_id')

X_train.columns = X_train.columns.droplevel(0)
X_train.reset_index(drop=True, inplace=True)
Y_train = df_train[df_train['series_id']=='SP500']
Y_train = Y_train.pivot(columns='series_id')
Y_train.columns = Y_train.columns.droplevel(0)
Y_train.reset_index(drop=True, inplace=True)

In [607]:
X_train

series_id,AAA10Y,BAA10Y,DEXCHUS,DEXUSEU,DEXUSUK,DFII10,DFII20,DFII30,DFII5,DFII7,DLTIIT,DPCREDIT,DPRIME,EFFR,INFECTDISEMVTRACKD,IOER,IORR,T10YIE,TEDRATE,WLEMUINDXD
0,1.590000,2.530000,6.596500,1.347400,1.602300,1.340000,1.910000,2.180000,0.510000,1.060000,1.980000,0.75,3.25,0.150000,0.59,0.25,0.25,2.280000,0.180000,30.44
1,1.650000,2.530000,6.588400,1.349400,1.612800,1.330000,1.910000,2.170000,0.440000,1.000000,1.970000,0.75,3.25,0.160000,0.45,0.25,0.25,2.280000,0.180000,23.19
2,1.650000,2.530000,6.588400,1.354700,1.606300,1.370000,1.950000,2.210000,0.430000,1.010000,1.990000,0.75,3.25,0.150000,0.34,0.25,0.25,2.250000,0.190000,45.74
3,1.680000,2.560000,6.585000,1.361200,1.617200,1.310000,1.900000,2.190000,0.330000,0.920000,1.950000,0.75,3.25,0.150000,0.87,0.25,0.25,2.270000,0.220000,14.88
4,1.700000,2.580000,6.573100,1.367300,1.624500,1.250000,1.860000,2.160000,0.260000,0.870000,1.910000,0.75,3.25,0.150000,0.00,0.25,0.25,2.340000,0.210000,12.48
5,1.710000,2.590000,6.574700,1.367000,1.621600,1.217500,1.835000,2.140000,0.212500,0.825000,1.885000,0.75,3.25,0.150000,0.00,0.25,0.25,2.340000,0.205000,65.76
6,1.720000,2.600000,6.576300,1.366700,1.618700,1.185000,1.810000,2.120000,0.165000,0.780000,1.860000,0.75,3.25,0.150000,0.00,0.25,0.25,2.340000,0.200000,56.51
7,1.730000,2.610000,6.577900,1.366400,1.615800,1.152500,1.785000,2.100000,0.117500,0.735000,1.835000,0.75,3.25,0.150000,0.61,0.25,0.25,2.340000,0.195000,31.41
8,1.740000,2.620000,6.579500,1.366100,1.612900,1.120000,1.760000,2.080000,0.070000,0.690000,1.810000,0.75,3.25,0.150000,0.00,0.25,0.25,2.340000,0.190000,40.86
9,1.710000,2.600000,6.574100,1.375800,1.622100,1.100000,1.750000,2.060000,0.010000,0.650000,1.790000,0.75,3.25,0.150000,0.00,0.25,0.25,2.390000,0.190000,34.44
10,1.680000,2.590000,6.572000,1.379400,1.610600,1.050000,1.690000,2.000000,-0.010000,0.620000,1.730000,0.75,3.25,0.150000,0.00,0.25,0.25,2.410000,0.180000,20.21
11,1.700000,2.600000,6.574900,1.375700,1.607800,1.020000,1.660000,1.970000,-0.010000,0.610000,1.700000,0.75,3.25,0.150000,0.00,0.25,0.25,2.400000,0.180000,12.45
12,1.690000,2.590000,6.573700,1.376900,1.613433,1.023333,1.660000,1.966667,-0.013333,0.606667,1.710000,0.75,3.25,0.153333,0.00,0.25,0.25,2.396667,0.173333,247.01
13,1.680000,2.580000,6.572500,1.378100,1.619067,1.026667,1.660000,1.963333,-0.016667,0.603333,1.720000,0.75,3.25,0.156667,0.00,0.25,0.25,2.393333,0.166667,39.84
14,1.670000,2.570000,6.571300,1.379300,1.624700,1.030000,1.660000,1.960000,-0.020000,0.600000,1.730000,0.75,3.25,0.160000,0.00,0.25,0.25,2.390000,0.160000,50.61
15,1.680000,2.590000,6.570000,1.381300,1.630900,1.000000,1.630000,1.940000,-0.060000,0.570000,1.690000,0.75,3.25,0.150000,0.00,0.25,0.25,2.410000,0.170000,30.21
16,1.700000,2.600000,6.572300,1.386900,1.631100,1.010000,1.640000,1.940000,-0.090000,0.540000,1.710000,0.75,3.25,0.160000,0.00,0.25,0.25,2.450000,0.180000,11.30
17,1.630000,2.550000,6.571700,1.394700,1.626600,1.090000,1.690000,2.000000,0.030000,0.640000,1.770000,0.75,3.25,0.150000,0.00,0.25,0.25,2.490000,0.180000,9.95
18,1.680000,2.600000,6.567000,1.398300,1.625000,1.000000,1.620000,1.940000,-0.070000,0.550000,1.690000,0.75,3.25,0.150000,0.00,0.25,0.25,2.490000,0.190000,18.25
19,1.680000,2.596667,6.562667,1.398067,1.623467,1.000000,1.620000,1.936667,-0.070000,0.550000,1.693333,0.75,3.25,0.146667,0.54,0.25,0.25,2.496667,0.193333,18.47
20,1.680000,2.593333,6.558333,1.397833,1.621933,1.000000,1.620000,1.933333,-0.070000,0.550000,1.696667,0.75,3.25,0.143333,0.46,0.25,0.25,2.503333,0.196667,15.63
21,1.680000,2.590000,6.554000,1.397600,1.620400,1.000000,1.620000,1.930000,-0.070000,0.550000,1.700000,0.75,3.25,0.140000,0.59,0.25,0.25,2.510000,0.200000,50.03
22,1.680000,2.590000,6.568400,1.391200,1.616400,1.010000,1.640000,1.950000,-0.090000,0.550000,1.710000,0.75,3.25,0.140000,0.45,0.25,0.25,2.550000,0.200000,69.06
23,1.700000,2.610000,6.558000,1.390600,1.620200,0.980000,1.610000,1.920000,-0.090000,0.550000,1.680000,0.75,3.25,0.140000,0.00,0.25,0.25,2.500000,0.210000,22.71
24,1.760000,2.660000,6.573100,1.382300,1.606300,0.910000,1.530000,1.850000,-0.170000,0.460000,1.600000,0.75,3.25,0.140000,0.00,0.25,0.25,2.460000,0.230000,24.73
25,1.730000,2.630000,6.574200,1.386400,1.603300,0.960000,1.580000,1.890000,-0.110000,0.520000,1.640000,0.75,3.25,0.130000,0.00,0.25,0.25,2.440000,0.230000,88.27
26,1.740000,2.636667,6.572667,1.390100,1.608233,0.950000,1.576667,1.890000,-0.123333,0.510000,1.640000,0.75,3.25,0.133333,0.57,0.25,0.25,2.436667,0.226667,38.98
27,1.750000,2.643333,6.571133,1.393800,1.613167,0.940000,1.573333,1.890000,-0.136667,0.500000,1.640000,0.75,3.25,0.136667,0.00,0.25,0.25,2.433333,0.223333,72.57
28,1.760000,2.650000,6.569600,1.397500,1.618100,0.930000,1.570000,1.890000,-0.150000,0.490000,1.640000,0.75,3.25,0.140000,0.00,0.25,0.25,2.430000,0.220000,311.62
29,1.770000,2.680000,6.573000,1.396800,1.606400,0.930000,1.560000,1.870000,-0.160000,0.470000,1.620000,0.75,3.25,0.140000,0.00,0.25,0.25,2.400000,0.210000,142.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2481,1.190000,1.880000,6.609000,1.189800,1.350600,0.560000,0.760000,0.880000,0.410000,0.520000,0.790000,1.75,4.25,1.070000,0.00,1.25,1.25,1.860000,0.240000,5.55
2482,1.150000,1.870000,6.613700,1.191000,1.350500,0.510000,0.690000,0.810000,0.410000,0.500000,0.730000,1.75,4.25,1.160000,0.00,1.25,1.25,1.860000,0.240000,26.86
2483,1.150000,1.870000,6.615300,1.188933,1.349167,0.506667,0.686667,0.806667,0.403333,0.490000,0.723333,1.75,4.25,1.160000,0.00,1.25,1.25,1.863333,0.236667,10.26
2484,1.150000,1.870000,6.616900,1.186867,1.347833,0.503333,0.683333,0.803333,0.396667,0.480000,0.716667,1.75,4.25,1.160000,1.50,1.25,1.25,1.866667,0.233333,8.51
2485,1.150000,1.870000,6.618500,1.184800,1.346500,0.500000,0.680000,0.800000,0.390000,0.470000,0.710000,1.75,4.25,1.160000,0.00,1.25,1.25,1.870000,0.230000,20.41
2486,1.120000,1.840000,6.617000,1.182000,1.345000,0.500000,0.650000,0.780000,0.460000,0.480000,0.700000,1.75,4.25,1.160000,0.45,1.25,1.25,1.860000,0.240000,68.33
2487,1.150000,1.860000,6.613600,1.178800,1.338200,0.470000,0.650000,0.770000,0.370000,0.440000,0.680000,1.75,4.25,1.160000,0.00,1.25,1.25,1.860000,0.240000,5.84
2488,1.160000,1.880000,6.617300,1.179000,1.343200,0.500000,0.690000,0.810000,0.400000,0.490000,0.720000,1.75,4.25,1.160000,0.00,1.25,1.25,1.870000,0.270000,16.87
2489,1.160000,1.870000,6.619900,1.176100,1.336700,0.500000,0.680000,0.810000,0.430000,0.480000,0.720000,1.75,4.25,1.160000,0.00,1.25,1.25,1.880000,0.290000,6.67
2490,1.150000,1.863333,6.619100,1.177467,1.336567,0.503333,0.686667,0.813333,0.420000,0.483333,0.723333,1.75,4.25,1.160000,0.00,1.25,1.25,1.880000,0.276667,11.00
2491,1.140000,1.856667,6.618300,1.178833,1.336433,0.506667,0.693333,0.816667,0.410000,0.486667,0.726667,1.75,4.25,1.160000,0.00,1.25,1.25,1.880000,0.263333,9.57
2492,1.130000,1.850000,6.617500,1.180200,1.336300,0.510000,0.700000,0.820000,0.400000,0.490000,0.730000,1.75,4.25,1.160000,0.00,1.25,1.25,1.880000,0.250000,10.69
2493,1.120000,1.840000,6.621000,1.172500,1.332300,0.510000,0.690000,0.810000,0.400000,0.490000,0.720000,1.75,4.25,1.170000,0.46,1.25,1.25,1.890000,0.250000,7.93
2494,1.120000,1.830000,6.617100,1.176200,1.336500,0.480000,0.670000,0.790000,0.380000,0.460000,0.700000,1.75,4.25,1.170000,0.00,1.25,1.25,1.880000,0.310000,17.07
2495,1.110000,1.820000,6.609100,1.177800,1.344000,0.480000,0.650000,0.770000,0.380000,0.450000,0.680000,2.00,4.50,1.410000,0.00,1.50,1.50,1.870000,0.300000,22.81
2496,1.080000,1.800000,6.608800,1.177800,1.331600,0.470000,0.630000,0.750000,0.390000,0.440000,0.670000,2.00,4.50,1.410000,0.00,1.50,1.50,1.880000,0.320000,82.57
2497,1.083333,1.803333,6.608800,1.178667,1.334333,0.480000,0.640000,0.763333,0.413333,0.453333,0.680000,2.00,4.50,1.413333,0.00,1.50,1.50,1.883333,0.303333,87.35
2498,1.086667,1.806667,6.608800,1.179533,1.337067,0.490000,0.650000,0.776667,0.436667,0.466667,0.690000,2.00,4.50,1.416667,2.23,1.50,1.50,1.886667,0.286667,76.14
2499,1.090000,1.810000,6.608800,1.180400,1.339800,0.500000,0.660000,0.790000,0.460000,0.480000,0.700000,2.00,4.50,1.420000,0.00,1.50,1.50,1.890000,0.270000,41.47
2500,1.100000,1.810000,6.608800,1.182200,1.335600,0.550000,0.710000,0.840000,0.490000,0.530000,0.750000,2.00,4.50,1.420000,1.41,1.50,1.50,1.910000,0.290000,8.01
2501,1.110000,1.820000,6.577100,1.188100,1.340800,0.570000,0.750000,0.890000,0.500000,0.560000,0.790000,2.00,4.50,1.420000,0.65,1.50,1.50,1.920000,0.300000,5.56
2502,1.070000,1.790000,6.583300,1.187200,1.337200,0.550000,0.730000,0.850000,0.420000,0.500000,0.760000,2.00,4.50,1.420000,0.33,1.50,1.50,1.930000,0.340000,39.72
2503,1.070000,1.790000,6.575000,1.183900,1.337900,0.540000,0.720000,0.840000,0.440000,0.510000,0.750000,2.00,4.50,1.420000,0.00,1.50,1.50,1.940000,0.380000,7.34
2504,1.067500,1.787500,6.566975,1.184600,1.337650,0.537500,0.715000,0.837500,0.452500,0.510000,0.747500,2.00,4.50,1.420000,0.00,1.50,1.50,1.940000,0.358000,12.13
2505,1.065000,1.785000,6.558950,1.185300,1.337400,0.535000,0.710000,0.835000,0.465000,0.510000,0.745000,2.00,4.50,1.420000,3.22,1.50,1.50,1.940000,0.336000,54.87
2506,1.062500,1.782500,6.550925,1.186000,1.337150,0.532500,0.705000,0.832500,0.477500,0.510000,0.742500,2.00,4.50,1.420000,0.00,1.50,1.50,1.940000,0.314000,20.56
2507,1.060000,1.780000,6.542900,1.186700,1.336900,0.530000,0.700000,0.830000,0.490000,0.510000,0.740000,2.00,4.50,1.420000,0.00,1.50,1.50,1.940000,0.292000,41.35
2508,1.050000,1.760000,6.556000,1.190200,1.340300,0.480000,0.640000,0.760000,0.400000,0.470000,0.680000,2.00,4.50,1.420000,0.41,1.50,1.50,1.940000,0.270000,13.95
2509,1.050000,1.760000,6.532200,1.195200,1.345000,0.470000,0.640000,0.750000,0.370000,0.430000,0.670000,2.00,4.50,1.420000,0.00,1.50,1.50,1.960000,0.320000,12.77
2510,1.050000,1.770000,6.506300,1.202200,1.352900,0.440000,0.610000,0.730000,0.340000,0.400000,0.640000,2.00,4.50,1.330000,0.45,1.50,1.50,1.960000,0.320000,23.07

In [608]:
random_forest = RandomForestRegressor(n_estimators=100)
random_forest.fit(X_train, Y_train)
score_random_forest = random_forest.score(X_train, Y_train)

knn = KNeighborsRegressor(n_neighbors = 3) 
knn.fit(X_train, Y_train)  
score_knn = knn.score(X_train, Y_train)

decision_tree = DecisionTreeRegressor() 
decision_tree.fit(X_train, Y_train)   
score_decision_tree = decision_tree.score(X_train, Y_train)


results = pd.DataFrame({
    'Model': ['KNN', 
              'Random Forest', 
              'Decision Tree'],
    'Score': [score_knn, score_random_forest, score_decision_tree]})
result_df = results.sort_values(by='Score')
result_df = result_df.set_index('Score')
result_df

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

                  Model
Score
0.926384            KNN
0.999611  Random Forest
1.000000  Decision Tree

In [609]:
reg = RandomForestRegressor(n_estimators=100)
reg.fit(X_train, Y_train)
dict(zip(X_train.columns, reg.feature_importances_))

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

{'AAA10Y': 0.0030577252503654483,
 'BAA10Y': 0.1256156084257581,
 'DEXCHUS': 0.15618398381570842,
 'DEXUSEU': 0.6399125609450178,
 'DEXUSUK': 0.00879271261192378,
 'DFII10': 0.0005883158675934175,
 'DFII20': 0.006474792590573117,
 'DFII30': 0.0010893148657149141,
 'DFII5': 0.0030123320743439905,
 'DFII7': 0.0003996415335726453,
 'DLTIIT': 0.0005271265293476373,
 'DPCREDIT': 7.309690628454024e-06,
 'DPRIME': 0.0008383943903802302,
 'EFFR': 0.04291902373141397,
 'INFECTDISEMVTRACKD': 5.8222801108734016e-05,
 'IOER': 0.0009232835202386064,
 'IORR': 0.0008371329604329438,
 'T10YIE': 0.006905113772597543,
 'TEDRATE': 0.0012896157568257462,
 'WLEMUINDXD': 0.0005677888664544732}

In [610]:
X_train = df_train[df_train['series_id'].isin(['BAA10Y','DEXCHUS','DEXUSEU'])]
X_train = X_train.pivot(columns='series_id')
X_train.columns = X_train.columns.droplevel(0)
X_train.reset_index(drop=True, inplace=True)
Y_train = df_train[df_train['series_id']=='SP500']
Y_train = Y_train.pivot(columns='series_id')
Y_train.columns = Y_train.columns.droplevel(0)
Y_train.reset_index(drop=True, inplace=True)

In [611]:
X_train[-7:][0:6]

series_id  BAA10Y   DEXCHUS  DEXUSEU
2504       1.7875  6.566975   1.1846
2505       1.7850  6.558950   1.1853
2506       1.7825  6.550925   1.1860
2507       1.7800  6.542900   1.1867
2508       1.7600  6.556000   1.1902
2509       1.7600  6.532200   1.1952

In [612]:
Y_train[-7:][6:7]

series_id    SP500
2510       2673.61

In [613]:
x_train, x_test, y_train, y_test = X_train[-7:][0:6], X_train[-7:][6:7], Y_train[-7:][0:6], Y_train[-7:][6:7]
random_forest = RandomForestRegressor(n_estimators=100)
random_forest.fit(x_train, y_train)
random_forest.score(x_train, y_train)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.7278106026245337

In [614]:
random_forest.predict(x_test)[0]

2684.6897000000026

In [615]:
y_test

series_id    SP500
2510       2673.61

Missing data in test set

In [616]:
df_test = pd.DataFrame()
for col in np.unique(test_df['series_id']):
    temp = test_df[test_df['series_id']==col].set_index('date')
    idx = pd.date_range(min(np.unique(temp.index)), max(np.unique(temp.index)))
    temp.index = pd.DatetimeIndex(temp.index)
    temp = temp.reindex(idx, fill_value=None)
    temp['series_id']=col
    temp['value'] = temp['value'].interpolate(method='time')
    df_test = df_test.append(temp)

In [617]:
for series, df_series in df_train.groupby('series_id'):
    name_df = series
    exec(name_df + "= df_series")

In [618]:
# replace min(SP500.index) with given date
d = (max(SP500.index)-min(SP500.index)).days
max(SP500.index)

Timestamp('2017-12-29 00:00:00')

In [620]:
# Build Model
model = ARIMA(SP500.value[~np.isnan(SP500.value)], order=(2, 1 ,2))  
fitted = model.fit(disp=-1)  
print(fitted.summary())

# Forecast
fc, se, conf = fitted.forecast(7, alpha=0.05)  # 95% conf

(fc + random_forest.predict(x_test)[0])/2

/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:171: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  % freq, ValueWarning)
/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:191: FutureWarning: Creating a DatetimeIndex by passing range endpoints is deprecated.  Use `pandas.date_range` instead.
  start=index[0], end=index[-1], freq=freq)
/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:171: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  % freq, ValueWarning)

                             ARIMA Model Results
==============================================================================
Dep. Variable:                D.value   No. Observations:                 2510
Model:                 ARIMA(2, 1, 2)   Log Likelihood               -9665.223
Method:                       css-mle   S.D. of innovations             11.379
Date:                Sun, 11 Apr 2021   AIC                          19342.446
Time:                        02:13:42   BIC                          19377.414
Sample:                    02-15-2011   HQIC                         19355.138
                         - 12-29-2017
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const             0.5339      0.240      2.227      0.026       0.064       1.004
ar.L1.D.value     1.1007      0.134      8.225      0.000       0.838       1.363
ar.L2.D.value    -0.8030      0.080    -10.004      0.000      -0.960      -0.646
ma.L1.D.value    -1.0738      0.125     -8.584      0.000      -1.319      -0.829
ma.L2.D.value     0.8151      0.076     10.760      0.000       0.667       0.964
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1            0.6853           -0.8807j            1.1159           -0.1448
AR.2            0.6853           +0.8807j            1.1159            0.1448
MA.1            0.6587           -0.8905j            1.1076           -0.1486
MA.2            0.6587           +0.8905j            1.1076            0.1486
-----------------------------------------------------------------------------

array([2679.47943921, 2679.69757412, 2679.86050987, 2680.0521874 ,
       2680.3198251 , 2680.64799027, 2680.9817802 ])